@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}





body {
  color: var(--foreground);
  
font-family: 'Lufga', sans-serif;
}

.bgimg {
  background-image: url('../../public/car_clouds.png');
  background-size: 95% 100vh;
  align-content: end;
 
  /* Adjust size as needed */
  background-repeat: no-repeat;
  background-position: right;
}
.bgcar {
  background-image: url('../../public/car_clouds.png');
  background-size: 100% 80vh;
  align-content: top;

  /* Adjust size as needed */
  background-repeat: no-repeat;
  background-position: top;
}

@media (max-width: 640px) {
  .bgcar {
    background-size: 100% 50vh; /* Reduced height for small screens */
  }
}

.bgcar2 {
  background-image: url('../../public/car_clouds.png');
  background-size: 100% 100%;
  align-content: top;

  /* Adjust size as needed */
  background-repeat: no-repeat;
  background-position: top;
}