@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}





body {
  color: var(--foreground);
  
font-family: 'Lufga', sans-serif;
}

.carfull {
  background-image: url('../../public/carbg.jpg');
  background-size: 100% 100vh;
  align-content: center;

  /* Adjust size as needed */
  background-repeat: repeat;
  background-position: center;
}

.bggray {
  background-image: url('../../public/graybg.jpeg');
  background-size: 100% 100vh;
  align-content: center;

  /* Adjust size as needed */
  background-repeat: repeat;
  background-position: center;
  object-fit: cover;
}

.bgimg {
  background-image: url('../../public/car_clouds_new.png');
  background-size: 100% 100vh;
  align-content: end;
 
  /* Adjust size as needed */
  background-repeat: no-repeat;
  background-position: right;
  object-fit: cover;
}
.bgcar {
  background-image: url('../../public/car_clouds_new.png');
  background-size: 100% 90vh;
 
  align-content: top;
  object-fit: left;
  /* Adjust size as needed */
  background-repeat: no-repeat;
  background-position: top;
}

@media (max-width: 640px) {
  .bgcar {
    background-size: 100% 43vh; /* Reduced height for small screens */
  }
}

@media (max-width: 400px) {
  .bgcar {
    background-size: 100% 50vh;
    /* Reduced height for small screens */
  }
}

.bgcar2 {
  background-image: url('../../public/car_clouds_new.png');
  background-size: 100% 100%;
  align-content: top;

  /* Adjust size as needed */
  background-repeat: no-repeat;
  background-position: top;
}

#carimagehome{
  margin-right: -100px !important;
}

.foundpage{
  background-image: url('../../public/car_clouds_new.png');
  background-size: 100% 100%;
  align-content: top;

  /* Adjust size as needed */
  background-repeat: no-repeat;
  background-position: top;
  object-fit: cover;
}

#foundbg{
  background-image: url('../../public/13.png');
  background-size: 140% 100%;
  align-content: top;

  /* Adjust size as needed */
  background-repeat: no-repeat;
  object-fit: cover;
  /* background-position: top; */
}


@media (max-width: 640px) { /* Mobile view */
  #foundbg{
    display: none;
  }
  #smallheading {
    font-size: 0.6rem;
    line-height: 1.2;
    width: 250px;
    margin-left: 30px;
  }

  #carimagehome{
    /* width: 300px !important; */
    margin-right: -50px !important;
  }

  #ballons{
    width: 160px !important;
  }
  #foundbg{
    display: none;

  }

  .bgcar {
    background-image: url('../../public/car_clouds_new.png');
  }

}

.foundcar {
  background-image: url('../../public/cooper.jpeg');
  background-size: 100% 100%;
  align-content: top;

  /* Adjust size as needed */
  background-repeat: no-repeat;
  background-position: top;
}

.mileagecar {
  background-image: url('../../public/track.png');
  background-size: 100% 100%;
  align-content: center;

  /* Adjust size as needed */
  background-repeat: no-repeat;
  background-position: center;
}



